.link-unstyled {
  list-style-type: none;
}

.container {
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }
}

.footer {
  color: white;
  margin-top: auto;
  background-color: #231e20;
  padding-top: 3em;
  position: relative;
  bottom: 0 ;
  left: 0;
  width: 100%;

}

.col {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.link:hover {
  color: #ef4723;
  transition: 200ms ease-in;
}

.paragraph {
  text-align: center;
}
